
body {
  background-color: #F6D4D2;
  color: #A16AE8;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.main-title {
  font-size: 3.5em;
  text-align: center;
  margin-top: 6em 0;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #341948;
  padding: 1em;
  color: #A1A9FE;
  align-items: center;
  border-radius: 0  0 10px 10px;

}

.header__logo {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-left: 16px;
}

.header__nav ul {
  display: flex;
  list-style: none;
  gap: 1em;
  margin: 2em 0;
}

.header__nav a{
  text-decoration: none;
  padding: 14px;
  color: #A1A9FE;
  margin: 20px
}

.header__nav a:hover{
  background-color: #000000;
  border-radius: 10px;
  text-decoration:underline;
  color: #A1A9FE;
}

.pricing{
  display: flex;
  gap: 16px;
}

.pricing-plan{
  flex:1;
  background-color: #341948;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 5px 15px -6px #a1a9febb;
  display: flex;
  flex-direction: column;
}

h2.class-pla__title{
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 1em;
  text-transform: uppercase;
  border-bottom: 2px solid #A1A9FE;
  letter-spacing: 1px;
  padding-bottom: 2px;
  

}

.pricing-plan p{
  margin-top: 0;
}

.class-pla__price{
  font-size: 20px;
}

.pricingplan__features li{
  margin: 0 0 20px;
  padding-left: 8px;
  line-height: 1.2;
}

.pricing-plan__cta{
  text-decoration: none;
  color: #A1A9FE;
  background-color:black;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: auto;
  text-align: center;
}

.pricing-plan__cta:hover{
  background-color: #A1A9FE;
  color: #341948;
}